.container {
  &__spinner {
    position: fixed;
    background: rgba(255, 255, 255, 0.3);
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 1000;

    mat-spinner {
      position: absolute;
      inset: 0;
      margin: auto;

      ::ng-deep circle {
        stroke: white;
        stroke-width: 6% !important;
      }
    }
  }
}
