.container {
  padding-top: 20px;
  overflow-x: hidden;

  &__navigation {
    padding-left: 20px;
    margin-bottom: 20px;

    &-item {
      font-weight: 500;
      color: black;
      text-decoration: none;
    }
  }
}
